*{
    margin: 0;
    padding: 0;
    font-family: roboto , Arial;
    box-sizing: border-box;
}
.thumbnail {
    width: 100%;
    
  }

  .search-bar {
    flex: 1;
    display: block;
    height: 35px;
    padding: 10px;
    border:1px solid #cccccc;
    box-shadow: inset 1px 1px 1px #61677A;
    border-radius:3px;
    
  }
  .search-bar::placeholder{
    font-family: roboto , Arial;
    font-size: 16px;
   
  }

  .video-title {
    font-size: 14px;
    width: 300px;
    font-weight:500;
    line-height: 20px;
    margin-bottom: 10px;
  }
    
  .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .video-info{
    width: 245px;
    display: inline-block;
    

  }
  .profile-picture{
    width: 40px;
    border-radius: 20px;
  }
  .thumbnail-row{
    position: relative;
    margin-bottom: 12px;
  }
  .video-author{
    font-size: 12px;
    color: #606060;
  }
  .video-stats{
    font-size: 12px;
    color: #606060;
  }
  .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 25px;
  }
  .duration {
   position: absolute;
   background-color: black;
   color: white;
    bottom:9px;
    right:5px;

  }
  
  .header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #dedede;
    z-index: 1;
 
  }
  .left-section{
    display: flex;
    align-items: center;
  
  }
  .middle-section{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 35px;
    max-width: 500px;
    flex: 1;
  }
  .right-section{
    margin-right: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content:space-between;
  }
  .search-button{
    width: 45px;
    height: 35px;
    margin-left: -1px;
    border:1px solid #cccccc;
  }
  .voice-button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border:1px solid #cccccc;
    border-radius: 20px;
    border: none;
  }
  .hamburger{
    cursor: pointer;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .youtube-logo{
    cursor: pointer;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .search-icon{
    cursor: pointer;
    height:25px;
    margin-top: 5px;
  }
  .voice-icon{
    height:28px;
    margin: 4px;
    cursor: pointer;
  }
  .upload-icon{
  height: 28px;
  cursor: pointer;
  }
.youtube-apps-icon{
  height: 28px;
  cursor: pointer;
}
.notification-icon{
  cursor: pointer;
  height: 28px;
}
.laranang{
  height: 32px;
  border-radius: 15px;
  cursor: pointer;
}
.youtube-Excercise {
  padding-top: 90px;
  padding-left: 90px;
  padding-right:20px;
  background-color:#f9f9f9; 
}
/* ---------------------------Side bar ----------------------- */
.side-bar{
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 72px;
background-color:white;
  z-index: 1;
}
.side-bar-link{
height: 80px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
cursor: pointer;
}
.side-bar-link >p{
   font-size: 10px;
   line-height: 20px;
   font-family: roboto , Arial;
}
.side-bar-link:hover{
  background-color:#F5F5F5;
  }
.side-bar-logo{
  height: 40px;
}
.side-bar-link img{
 height: 28px;
 display: flex;

}